@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.servicesfooterheading {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.llll h1 {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #025add;
  cursor: pointer;
}

.paragraphList p {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  gap: 5px;
  height: 35px;
  transition: all ease 0.5s;
  cursor: pointer;
}
.paragraphList p:hover {
  color: #025add;
}
